# --- Build e Artefatos ---
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Pacotes e Binários
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.class
!**/wrapper/maven-wrapper.jar

# --- IDEs e Editores ---

### VS Code ###
.vscode/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### STS / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# --- Logs e Temporários ---
*.log
.mtj.tmp/
hs_err_pid*
replay_pid*

### BlueJ ###
*.ctxt